<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jay's About Me Page</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
    rel="stylesheet"
    />
  </head>
  <body>
    <h1>{{me.header}}</h1>
    <!-- inline elements-->
    <h2>{{me.sub_header}}</h2>
    <div class="flex-container">
      <div class="card">
        <h3 class="card-title">{{me["interest1"]["title"]}}</h2> 
        <img
          class="card-img"
          src="{{me['interest1']['image']}}"
          />  
        <h4 class="card-desc">{{me["interest1"]["description"]}}</h4>
        <a href="../video.html" title="Click to learn more">Click to learn more</a>
      </div>
      
      <div class="card">
        <h3 class="card-title">{{me["interest2"]["title"]}}</h3>
        <img
          class="card-img"
          src="{{me['interest2']['image']}}"
        />
        <h4 class="card-desc">{{me["interest2"]["description"]}}</h4>
      </div>

      <div class="card">
        <h3 class="card-title">{{me["interest3"]["title"]}}</h3>
        <img
          class="card-img"
          src="{{me['interest3']['image']}}"
          
        />
        <h4 class="card-desc">{{me["interest3"]["description"]}}</h4> 
      </div>
      
      <h5>
        <img 
          class="card-img"
          src="{{me['meme']['image']}}"
          />
        </h5>
         
       
  </body>
</html>
</html>
